:root {
  --black: #2A2626;
  --white: #F5F6EE;
  --orange: #EF960A;
  --green: #2E4836;
  --red: #9F072B;
  --yellow: #F3E141; 
  --background-white: #FDFDFD;
}

body {
  background-color: var(--background-white);
  color: var(--black);
  /* Disable horizontal scrolling */
  overflow-x: hidden;
  /* Hide vertical scrollbar for IE, Edge */
  -ms-overflow-style: none;
  /* Hide vertical scrollbar for Firefox */
  scrollbar-width: none;
}

/* Hide vertical scrollbar for Chrome, Safari */
body::-webkit-scrollbar { width: 0 !important }

.App {
  text-align: center;
}

h1 {
  font-family: 'Poetsen One';
  font-weight: lighter;
}

h2 {
  font-family: 'Poetsen One';
  font-weight: lighter;
}

h3 {
  font-family: 'Poetsen One';
  font-weight: lighter;
}

p {
  font-family: 'Open Sans';
}

button {
  cursor: pointer;
}

.primary-btn {
  color: var(--white);
  font-size: 16px;
  font-family: 'Poetsen One';
  font-weight: lighter;
  padding: 10px 16px;
  background: var(--green); 
  border-radius: 25px; 
  border: 1.5px black solid;
  cursor: pointer;
}

.primary-btn:hover {
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.30) inset
}

.secondary-btn {
  color: var(--black);
  font-size: 16px;
  font-family: 'Poetsen One';
  font-weight: lighter;
  padding: 10px 16px;
  background: var(--orange); 
  border-radius: 25px; 
  border: 1.5px black solid;
  cursor: pointer;
}

.secondary-btn:hover {
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.30) inset
}

.line-input-container {
  position:relative;
  margin-bottom:10px;
  width: 260px;
}

.line-input-container input {
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}

.line-input-container input:focus {
  border:none;	
  outline:none;
  border-bottom:1px solid black;
}

.line-input-container label {
  position:absolute;
  top:0px;
  left:0px;
  font-size:18px;
  color:#434343;
  transition: all 0.3s ease-in-out;
  cursor: text;
}

.line-input-container input:focus ~ label,
.line-input-container input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:16px;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='25' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path id='Vector 1' d='M1 1.5L8 8.5L15 1.5' stroke='black' stroke-width='1.5'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
}

.outline-input-container {
  border-radius: 25px; 
  border-left: 1.5px black solid;
  border-top: 1.5px black solid;
  border-bottom: 1.5px black solid;
  border-right: 1.5px black solid;
  font-size: 18px;
  font-family: 'Open Sans'; 
  background-color: var(--background-white);
}

.outline-input-container select {
  border-radius: 25px; 
  padding: 10px 18px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 17px solid transparent;
  font-size: 18px;
  font-family: 'Open Sans'; 
  background-color: var(--background-white);
  color: black;
}

.outline-input {
  border-radius: 25px; 
  border: 1.5px black solid;
  padding: 10px 18px;
  font-size: 18px;
  font-family: 'Open Sans'; 
  background-color: var(--background-white);
}

@media only screen and (min-width: 651px){ 

  h1 { font-size: 40px }
  p { font-size: 24px }

}

@media only screen and (min-width: 451px) and (max-width: 650px){ 

  h1 { font-size: 40px }
  p { font-size: 20px }

}

@media only screen and (min-width: 401px) and (max-width: 450px){ 

  h1 { font-size: 9vw }
  p { font-size: 20px }

}

@media only screen and (max-width: 400px){ 

  h1 { font-size: 10vw }
  h2 { font-size: 20px}
  p { font-size: 18px }

}
