.main-page-container {
  margin: 15px 25px;
  min-height: 800px;
  z-index: 100;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-header {
  white-space: pre-line;
  margin-bottom: 5px;
}

#home-page-graphic {
  width: 40vw;
  max-width: 200px;
}

.categories-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto; /* hide scrollbar when it is not needed */
  overflow-y: hidden;
  text-align: center;
  height: 132px;
}

.icon-background {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: auto;
}

.icon-background.active {
  background-color: var(--red);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.category-icon {
  filter: invert(9%) sepia(95%) saturate(4303%) hue-rotate(338deg) brightness(96%) contrast(101%);
  margin: 0 auto;
  display: block;
}

.category-icon.active {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.category-text {
  font-size: 16px;
  margin: 7px 0px;
  word-wrap: break-word;
}

.category-card {
  width: 100px;
  height: 110px;
  text-align: center;
  margin: 0px 10px;
}

#sort-button {
  padding: 0;
  border: none;
  background: none;
  width: 28px;
  height: 31px;
  cursor: pointer;
}

#sort-button:hover #sort-icon {
  width: 28px;
}

@media only screen and (min-width: 431px) and (max-width: 1024px) {
  .main-page-container {
    margin: 40px 10vw;
  }

}

@media only screen and (min-width: 1025px) {
  .main-page-container {
    box-sizing: border-box;
    margin: 40px auto;
    width: 60vw;
  }
  #sort-button {
    margin-right: 20px;
  }

  .icon-background:hover .category-icon {
  filter: invert(100%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 }

.icon-background:hover {
  background-color: var(--red);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
    
}
