.landing-background {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  width: 100%;
  position: relative;
}

.landing-ellipse {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
}

ellipse {
  fill:#FDFDFD;
}

.landing-content {
  background-color: #FDFDFD;
  font-size: calc(10px + 2vmin);
  padding: 0 4.5vh 0 4.5vh;
  position: absolute;
  top: 30vh;
  left: 0
}
